{% extends 'webcolegio/base.html' %}

{% block content %}
<h1 class="display-1">CURSOS</h1>
    <a href="#" class="btn btn-primary">1°A</a>
    <a href="#" class="btn btn-primary">2°A</a>
    <a href="#" class="btn btn-primary">3°A</a>
    <a href="#" class="btn btn-primary">4°A</a>
    <a href="#" class="btn btn-primary">5°A</a>
    <a href="#" class="btn btn-primary">6°A</a>
    <a href="#" class="btn btn-primary">7°A</a>
    <a href="#" class="btn btn-primary">8°A</a>
{% endblock %}